In [8]:
import sqlalchemy as sqa
import pandas as pd
import pyodbc
import pymysql

username = 'root'
password = '12345'
host = 'localhost'
port = '3306'
database = 'online_banking'

url = 'mysql+pymysql://{0}:{1}@{2}:{3}/{4}'.format(username, password, host, port, database)
mysql_engine = sqa.create_engine(url)
mysql_engine

username = 'root'
password = '12345'
host = 'localhost'
port = '3306'
database = 'online_banking_wh'

url = 'mysql+pymysql://{0}:{1}@{2}:{3}/{4}'.format(username, password, host, port, database)
mysql_engine_2 = sqa.create_engine(url)
mysql_engine_2

Engine(mysql+pymysql://root:***@localhost:3306/online_banking_wh)

In [9]:
df = pd.read_sql_query("""select * from customer_joining_info;""",mysql_engine)

In [10]:
print(df)

      customer_id  region_id  area_id   join_date
0               1          3        4  2020-01-02
1               2          3        5  2020-01-03
2               3          5        4  2020-01-27
3               4          5        4  2020-01-07
4               5          3        3  2020-01-15
...           ...        ...      ...         ...
3495          496          3        4  2020-02-25
3496          497          5        4  2020-05-27
3497          498          1        2  2020-04-05
3498          499          5        1  2020-02-03
3499          500          2        2  2020-04-15

[3500 rows x 4 columns]

In [11]:
df.to_sql(
        name = 'customer_joining_info',
        con = mysql_engine_2,
        if_exists = 'replace',
        index = False,
        method = 'multi',
        chunksize = 1000
)

3500

In [13]:
df = pd.read_sql_query("""select * from customer_transactions;""",mysql_engine)

In [14]:
print(df)

      customer_id    txn_date    txn_type  txn_amount
0             429  2020-01-21     deposit          82
1             155  2020-01-10     deposit         712
2             398  2020-01-01     deposit         196
3             255  2020-01-14     deposit         563
4             185  2020-01-29     deposit         626
...           ...         ...         ...         ...
5863          189  2020-02-03  withdrawal         870
5864          189  2020-03-22     deposit         718
5865          189  2020-02-06     deposit         393
5866          189  2020-01-22     deposit         302
5867          189  2020-01-27  withdrawal         861

[5868 rows x 4 columns]

In [15]:
df.to_sql(
        name = 'customer_transactions',
        con = mysql_engine_2,
        if_exists = 'replace',
        index = False,
        method = 'multi',
        chunksize = 1000
)

5868

In [16]:
df = pd.read_sql_query("""select * from area;""",mysql_engine)

In [17]:
print(df)

   area_id        name
0        1       Union
1        2     Upazila
2        3  Pouroshova
3        4        Ward
4        5     Village

In [18]:
df.to_sql(
        name = 'area',
        con = mysql_engine_2,
        if_exists = 'replace',
        index = False,
        method = 'multi',
        chunksize = 1000
)

5

In [19]:
df = pd.read_sql_query("""select * from region;""",mysql_engine)

In [20]:
print(df)

   region_id region_name
0          1       Dhaka
1          2      Khulna
2          3    Rajshahi
3          4      Sylhet
4          5    Barishal

In [21]:
df.to_sql(
        name = 'region',
        con = mysql_engine_2,
        if_exists = 'replace',
        index = False,
        method = 'multi',
        chunksize = 1000
)

5